$minwidth: 600px;
// $midwidth: 900px;


.containter {
    display: grid;
    place-items: center;

    main {
        background-color: rgb(66, 66, 66);
        height: 100%;
        width: 100%;
    }

    @media screen and (min-width: $minwidth) {
        main {
            height: 100%;
            width: 80%;
            border: double;
            border-width: 5px;
        }
    }
}